main {
    float: right;
    width: 610px;
    padding: 1%;
    overflow: hidden;
    margin: 5% 0 2%;
    .skillTitle {
        margin: 2% 0;
    }
    > section {
        border-left: 5px solid #EA5455;
        position: relative;
        padding-left: 3rem;
    }
    .word {
        .project-name {
            text-decoration: none;
            color: #EA5455;
            font-weight: bolder;
        }
        .project-info {
            ul {
                li {
                    padding: 3% 0;
                    margin-left: 4%;
                    list-style:armenian;
                }
            }
        }
    }
    .skill {
        ul {
            list-style: none;
            li {
                padding: 3% 0;
                margin-left: 4%;
                list-style:armenian;
            }
        }
    }
}
