html
head
    meta(charset="UTF-8")
    title 简历 | 杨挺
    link(rel="icon", href="http://7xp1k3.com1.z0.glb.clouddn.com/octocat-de-los-muertos.jpg")
    link(rel="stylesheet", href="css/index.css")
    link(rel="stylesheet", href="css/font-awesome.min.css")
body
    header.header-main
        .header-info
            h1 YZZTING
            span.job-name Front-end Engineers
    main            
        section.word
            h3.main-title.title 个人作品
            ul
                li
                    a(href="https://github.com/yzzting/hexo-theme-MyFairLady" target="_blank").project-name  Hexo博客主题-hexo-theme-MyFairLady
                    .project-info
                        ul 
                            li 一款hexo的博客主题,基于Ejs+Scss开发
                            li 曾在项目中使用Gulp编译Scss
                            li 模块化CSS,整体结构清晰
                            li 持续维护中
                li     
                    a(href="https://github.com/yzzting/vuegank" target="_blank").project-name Gank.io社区Vue2版
                    .project-info
                        ul
                            li 项目是基于Gank社区的api,用Vue.js 2.0写的移动端页面
                            li 基本Vue-cli构建,使用vuex,vue-resource,vue-router等生态系统
                            li 基本使用ES6语法

        section.skill
            h3.main-title.title 个人技能
            h4.skillTitle HTML/CSS
            ul
                li 掌握语义化HTML,使用模块化思想编写CSS,可以复现较复杂的页面布局
                li 在项目中实践过Jade和Ejs前端模板,Sass预处理器
                li 熟悉Gulp构建工具,使用过Webpack
            h4.skillTitle JavaScript
            ul
                li 熟悉原生的JavaScript,脱离jQuery库进行开发
                li 使用Vue.js编写简单应用
                li 使用过 Meteor/Express  编写过简单CRUD DEMO
            h4.skillTitle Other
            ul
                li 有Linux使用经验,熟悉常用命令,使用Linux进行开发
                li 可以使用Markdown进行文档编写,良好的沟通能力
                li 熟悉常用的Git协作流程    
    aside
        section.info
            h4.title 个人信息
            div.info
                ul
                    li 杨挺/男/大三
                    li 广东东软学院/软件工程/本科
                    li 前端开发实习生
                    
        section.content
            h4.title 联系信息
            div.contentBlock
                ul
                    li
                        i.fa.fa-github
                        a(href="https://github.com/yzzting",target="_blank") github.com/yzzting
                    li
                        i.fa.fa-rss    
                        a(href="http://www.yzz1995.cn/",target="_blank") www.yzz1995.cn
                    li
                       i.fa.fa-mobile.fa-lg
                       a(href="javascript:;") 18125742687 
                    li
                       i.fa.fa-envelope
                       a(href="mailto:yzz1995@aliyun.com") yzz1995@aliyun.com
                    li 
                       i.fa.fa-file
                       a(href="./PDF/resume.pdf" target="_blank") PDF
        section.profile
            h4.title 个人简介
            div.profileBlock
                p 热爱前端,对前端技术充满热情和激情。能够独立解决问题。热爱阅读，知乎，掘金，segmentfault等网站的重度用户。
                  
