html
head
    meta(charset="UTF-8")
    title 简历-杨挺
    link(rel="icon", href="http://7xp1k3.com1.z0.glb.clouddn.com/octocat-de-los-muertos.jpg")
    link(rel="stylesheet", href="css/index.css")
    link(rel="stylesheet", href="css/font-awesome.min.css")
body
    main
        section.word
            h3.main-title 个人作品
            ul
                li
                    h4.wordtitle Hexo博客主题-MyFairLady
                    a(href="https://github.com/yzzting/hexo-theme-MyFairLady" target="_blank")
                        i.fa.fa-check-circle-o
                    p Ejs,Sass,Gulp编写主题
                li     
                    h4.wordtitle CNode社区WebApp
                    a(href="https://github.com/yzzting/vuecnode" target="_blank")
                        i.fa.fa-check-circle-o
                    p 项目是基于CNode社区的api,用Vue.js写的移动端页面
                li     
                    h4.wordtitle CSS3 Hover效果和动画
                    a(href="https://github.com/yzzting/Hover-css" target="_blank")
                        i.fa.fa-check-circle-o
                    p 收集所有可能实现的CSS3Hover效果,基于Sass+Jade编写

        section.skill
            h4.skillTitle HTML/CSS
            span 掌握语义化HTML,使用ooCSS思想编写css,可以复现较复杂的页面
            span 在项目中实践过HTML5和CSS3的新特性。
            h4.skillTitle javascript
            span 熟悉原生的javascript,脱离jQuery库进行开发,使用Vue.js和Angular.js
            h4.skillTitle 前端工程实践
            ul
                li 使用过 Meteor/Express  编写过简单CRUD DEMO
                li 日常使用Git,Atom进行开发,喜欢尝试一切新工具 
                li 项目中使用Gulp工作流,使用Webpack进行资源加载和打包,
                li 在项目中使用过Less,Sass CSS预编译器
            h4.skillTitle 其他
            ul
                li 有一年的Linux使用经验,熟悉常用命令
                li 可以使用Markdown进行文档编写,良好的沟通能力
                li 熟悉常用的Git协作流程    
    aside
        section.avator
            img(src="http://7xp1k3.com1.z0.glb.clouddn.com/octocat-de-los-muertos.jpg", alt="这里有头像")
        section.info
            h4.title 个人信息
            div.info
                ul
                    li 杨挺/男/大三
                    li 广东东软学院/软件工程/本科
                    li 工作期望:前端开发实习生
                    li
                        i.fa.fa-github
                        a(href="https://github.com/yzzting",target="_blank") https://github.com/yzzting
                    li
                        i.fa.fa-rss    
                        a(href="http://www.yzz1995.cn/",target="_blank") http://www.yzz1995.cn
        section.content
            h4.title 联系信息
            div.contentBlock
                ul
                    li
                        i.fa.fa-mobile.fa-lg
                        a(href="javascript:;") +86-18125742687 
                    li
                        i.fa.fa-envelope
                        a(href="mailto:yzz1995@aliyun.com") yzz1995@aliyun.com
                    li 
                        i.fa.fa-file
                        a(href="./PDF/resume.pdf" target="_blank") PDF    
        section.profile
            h4.title 个人简介
            div.profileBlock
                p 热爱前端,对前端技术充满热情和激情。能够独立解决问题，可以进行英文文章阅读,长期使用Github，Stack Overflow社区。希望在工作中学习到更多的技术
                  
